<br>
<br>
<br>
<br>
<!-- resize images to 100% 350 X 220 before uploading  -->
<div class="container back">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-11 col-sm-4">
       <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/dresscodes.png" alt="Macys">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="http://2adpro.com/portfolio/" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>


            <!--<div class="card-body">
              <p class="card-text">Macys Online web banner</p>
              <p class="card-text">
                <span class="tags">Html</span>
                <span class="tags">Javascript</span>
                <span class="tags">Css</span>
              </p>
            </div>-->
          </div>
        </div>
      </div>

      <div class="col-xs-11 col-sm-4">
        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/americanIcons.png" alt="macys">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="http://2adpro.com/portfolio/" target="_blank">
                  <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>


            <!--<div class="card-body">
              <p class="card-text">Badgeyay (Open Source)</p>
              <p class="card-text">
                <span class="tags">Open Source</span>
                <span class="tags">Flask</span>
                <span class="tags">Python</span>
                <span class="tags">Ember.js</span>
                <span class="tags">Semantic-UI</span>
              </p>
            </div>-->
          </div>
        </div>
      </div>


      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/tommyhilfiger.png" alt="macys">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="http://2adpro.com/portfolio/" target="_blank">
                   <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>


            <!--<div class="card-body">
              <p class="card-text">Code Stamper (Blog application)</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Bootstrap4</span>
                <span class="tags">Django</span>
                <span class="tags">Python</span>
              </p>
            </div>-->
          </div>
        </div>
      </div>

    </div>

    <div class="row text-center">
      <div class="col-xs-11 col-sm-4">
        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/macysparade.png" alt="macys">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="http://2adpro.com/portfolio/">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>
            <!--<div class="card-body">
              <p class="card-text">IIIT Kalyani Website</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Bootstrap4</span>
                <span class="tags">UI</span>
              </p>
            </div>-->
          </div>
        </div>
      </div>

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/tattostudio.png" alt="tattostudio">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="http://2adpro.com/portfolio/" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <!--<div class="card-body">
              <p class="card-text">Portfolio</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Bootstrap4</span>
                <span class="tags">Angular2</span>
              </p>
            </div>-->
          </div>
        </div>

      </div>

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/RTW_INC.jpg" alt="macys">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="http://2adpro.com/portfolio/" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <!--<div class="card-body">
              <p class="card-text">Library Management System</p>
              <p class="card-text">
                <span class="tags">DesktopApp</span>
                <span class="tags">Java</span>
                <span class="tags">Netbeans</span>
              </p>
            </div>-->
          </div>
        </div>

      </div>
    </div>

    
    <div class="row text-center">

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/doorbusters.png" alt="restaurant">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="http://2adpro.com/portfolio/" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <!--<div class="card-body">
              <p class="card-text">Restaurant Website</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Bootstrap4</span>
                <span class="tags">JS</span>
              </p>
            </div>-->
          </div>
        </div>

      </div>

      <div class="col-xs-11 col-sm-4">

        <div class="card-container">
          <div class="card">
            <div class="image-contain">
              <img class="img-fluid" src="./assets/images/SuperHeroMomDay.jpg" alt="restaurant">
              <div class="overlay">
                <div class="text">
                  <a class="font" href="http://2adpro.com/portfolio/" target="_blank">
                    <i class="fa fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <!--<div class="card-body">
              <p class="card-text">Cryptocurrency Price Tracker</p>
              <p class="card-text">
                <span class="tags">WebApp</span>
                <span class="tags">Angular2</span>
                <span class="tags">API</span>
                <span class="tags">Bootstrap4</span>
              </p>
            </div>-->
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
