<div class="container text-white">
  <div class="row">
    <div class="col-lg-2">
      <img style="border-radius: 50%;" class="img-fluid" src="./assets/images/img.jpg">
    </div>

  <div class="col-lg-10">
    <p style="color: white;">Hi, There! Thanks for stopping by. I am Karuppaiyan, from Madras University, Chennai, India.
      <br> <br> I like to build stuff and work with new technologies. I am also hugely interested in entrepreneurship, and the marketing side too.
      <br> <br> Currently, most of my time goes in learning, working for companies, freelancing or building something of my own.
      <br>
    </p>
  </div>
</div>
</div>
